<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Some website</title>
  </head>
  <body>

    <h1>We are updating Will be available soon</h1>
    
  </body>
</html>
